body {
    background-color:#c6a7d3;
    font-family: 'Josefin Sans', sans-serif;
}

.nav {
    border-bottom: 1px solid gray;
    color:lightslategray;
    text-align: left;
    height: 70px;
    line-height:70px;
    

}

h1, h4, figcaption {
    text-align:center;
}

h1{
    font-size: 80px;
}

h4{
    font-size: 30px;
}

.container1, .container2 {
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
}

.aboutktcap {
    width:300px;
    background-color: hsl(51, 88%, 68%);
    padding:7px;
    border-radius:10%;
   
}

img{
    height: 320px;
    width: 220px;
}

.kt_img{
    border: 2px solid hsl(51, 88%, 68%);
    border-radius: 50%;
    height:215px;
    width:205px;
}

.menu {
    margin: 0 30px 0 0;
}

.menu a{
    color: hsl(51, 88%, 68%);
    text-decoration:none;
    margin: 0 10px;
    line-height:70px;
}

label {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height:70px;
    display:none;
}

#toggle {
    display:none;
}

.learnbutton {
    font-family: 'Josefin Sans', sans-serif;
    background-color:#bbe6de;
    border: black solid 1px;
    border-radius:10%;
    font-size: 25px;
    padding: 5px;
}

.learnbutton a {
    text-decoration:none;
}

.form {
    background-color:rgb(167, 228, 143);
    padding:10px;
    margin-left: 40%;
}

footer{
text-align:center;
background-color:hsl(0, 0%, 80%);
padding:5px;
}

.social {
    height:40px;
    width:40px;
}

#ig {
    height: 40px;
    width:55px;
}






@media only screen and (max-width:500px) {
    label {
        display:block;
        cursor:pointer;
    }
    .menu {
        text-align:center;
        width:100%;
        display:none;
    }
    .menu a {
        display:block;
        border-bottom: 1px solid #EAEAEB;
        margin: 0;
    }
    #toggle:checked + .menu {
        display:block;
    }
}
