body{
    background: url(images/artichokeswine.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   font-family: 'Josefin Sans', sans-serif;
   text-align:center;
}

.nav {
    color: hsl(51, 88%, 68%);
    border-bottom: 1px solid gray;
    text-align: left;
    height: 70px;
    line-height:70px;
}

h1 {
    color:rgb(247, 246, 225);
    font-size: 60px;
}

p {
    margin-right: 25%;
    margin-left: 25%;
    background-color: #89875C;
    padding: 5px;
    color:rgb(247, 246, 225);
}

p a {
    text-decoration:none;
    font-size: 22px;
    color:  hsl(51, 88%, 68%)
}

.menu {
    margin: 0 30px 0 0;
}

.menu a{
    color: hsl(51, 88%, 68%);
    text-decoration:none;
    margin: 0 10px;
    line-height:70px;
}

label {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height:70px;
    display:none;
}

#toggle {
    display:none;
}

.submit {
    font-family: 'Josefin Sans', sans-serif;
    border: #c6a7d3 solid 1px;
    font-size: 25px;
    padding: 5px;
    color:rgb(247, 246, 225);
    background-color:#390E05
}

h5 {
    font-size: 20px;
    background-color:#363018;
    color:rgb(247, 246, 225);
    width:fit-content;
    margin-left: 40%;
    padding: 10px;
    margin-bottom: 5px;
}

textarea {
    width: 400px;
    height:100px;
}



.social {
    height:40px;
    width:40px;
}

#ig {
    height: 40px;
    width:55px;
}

@media only screen and (max-width:500px) {
    label {
        display:block;
        cursor:pointer;
    }
    .menu {
        text-align:center;
        width:100%;
        display:none;
    }
    .menu a {
        display:block;
        border-bottom: 1px solid #EAEAEB;
        margin: 0;
    }
    #toggle:checked + .menu {
        display:block;
        background-color:teal;
        position: absolute;
        width: 50%;
        border-radius: 10%;
    }

    p {
        font-size: 24px;
        margin:0;
    }

    textarea {
        height:100%;
        width: 100%;
    }
}

