body {
    background-color:#c6a7d3;
    font-family: 'Josefin Sans', sans-serif;
}

a {
    text-decoration:none;
}

.nav {
    border-bottom: 1px solid gray;
    color:lightslategray;
    text-align: left;
    height: 70px;
    line-height:70px;
    

}

h1, h4, figcaption {
    text-align:center;
}

h1{
    font-size: 60px;
}

h4{
    font-size: 30px;
}

.container1, .container2 {
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
}

.aboutktcap {
    width:300px;
    background-color: hsl(51, 88%, 68%);
    padding:7px;
    border-radius:10%;
   
}

img{
    height: 320px;
    width: 220px;
}

img:hover {
    filter: blur(2px);
    border:hsl(51, 88%, 68%) solid 5px;
}

.kt_img{
    border: 2px solid hsl(51, 88%, 68%);
    border-radius: 50%;
    height:215px;
    width:205px;
    margin-left: 50px;
    filter:saturate(110%);
}

.kt_img:hover{
    filter:none;
    border: 2px solid hsl(51, 88%, 68%);
}

.menu {
    margin: 0 30px 0 0;
}

.menu a{
    color: hsl(51, 88%, 68%);
    text-decoration:none;
    margin: 0 10px;
    line-height:70px;
}

.label_t {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height:70px;
    display:none;
}

#toggle {
    display:none;
}

.learnbutton {
    font-family: 'Josefin Sans', sans-serif;
    background-color:#363838;
    border: #c6a7d3 solid 1px;
    font-size: 25px;
    padding: 5px;
    color:#c6a7d3;
}



.form {
    background-image:url(images/watercolor.png);
    padding:10px;
    text-align:center;
    border-radius: 80%;
    border: 1px double hsl(51, 88%, 68%);
    width: 50%;
    margin-left: 300px;
    
}

.form h3 {
    font-size: 30px;

   
}


.submit {
    font-family: 'Josefin Sans', sans-serif;
    border: #c6a7d3 solid 1px;
    font-size: 25px;
    padding: 5px;
    color:#c6a7d3;
    background-color:#363838;
}

footer{
text-align:center;
padding:5px;
}

.social {
    height:40px;
    width:40px;
}

#ig {
    height: 40px;
    width:55px;
}






@media only screen and (max-width:500px) {
    h1 {
        font-size: 40px;
    }
    h4 {
        font-size: 18px;
    }
    img {
        height: 100%;
        width: 100%;
        align-items: center;
    }

    img:hover {
        filter:none;
    }

    .kt_img {
        width:400px;
        height:320px;
        margin-left:0;
        margin-right:0;
        margin-top:50px;
        margin-bottom:50px;
    }

    figure {
        text-align:center;
        line-height:20px;
    }
    figcaption {
        font-size: 30px;
        text-align:center;
        margin-top: -75px;
        color:white;
    }

    .aboutktcap {
        margin-left:50px;
        font-size:20px;
        color:black;
        
    }
    label {
        display:block;
        cursor:pointer;
    }
    .menu {
        text-align:center;
        width:100%;
        display:none;
    }

    .menu a {
        display:block;
        border-bottom: 1px solid #EAEAEB;
        margin: 0;
    }
    #toggle:checked + .menu {
        display:block;
        background-color:teal;
        position: absolute;
        width: 50%;
        border-radius: 10%;
    }

    .form {
        width:100%;
        margin-left:0;
        margin-right:0;
        margin-top:30px;
        font-size: 20px;
    }

  
}
